/* CSS RESET AND GENERAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --charcoal: #2C3E50;
    --mint-green: #1ABC9C;
    --midnight-haze: #3A546D;
    --light-grey: #d6d6d6;
}

html {
    scroll-behavior: smooth;
}

/* BG AREA */
.bg-charcoal {
    background-color: var(--charcoal);
}

.bg-mint-green {
    background-color: var(--mint-green);
}

.bg-midnight-haze {
    background-color: var(--midnight-haze);
}

/* General + utilities */
p {
    font-size: 18px;
}

input {
    display: block;
    width: 100%;
}

input, textarea {
    border: none;
    border-bottom: 1px solid var(--light-grey);
    padding: 10px 0;
}

::placeholder {
    color: #000;
}

.border_none {
    border: 0;
}

.py_5 {
    padding: 5px 0;
}

.max_w_150 {
    max-width: 150px;
}

/* Other styles */
.font_size_nav {
    font-size: 12px;
}

.lines:before, .lines:after {
    display: inline-block;
    content: '';
    width: 100px;
    height: 3px;
    background-color: #fff;
    vertical-align: middle;
}

.black_lines.lines::before, .black_lines.lines::after {
    background-color: #000;
}

.btn_border_style {
    border: 1px solid white;
}

.btn_border_style:hover {
    background-color: #fff !important;
    color: var(--mint-green) !important;
}

.text_mint {
    color: var(--mint-green);
}

.border_icons {
    padding: 8px 12px;
}

.border_icons:nth-of-type(1) {
    padding: 9px 15px;
}

.border_icons:nth-of-type(2) {
    padding: 9px 10px
}