/* CSS RESET AND GENERAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --charcoal: #2C3E50;
    --mint-green: #1ABC9C;
    --midnight-haze: #3A546D;
}

/* BG AREA */
.bg-charcoal {
    background-color: var(--charcoal);
}

.bg-mint-green {
    background-color: var(--mint-green);
}

.bg-midnight-haze {
    background-color: var(--midnight-haze);
}

/* LAYOUT ELEMENTS */
.content {
    border: 1px solid purple;
    height: 200px;
    background-color: burlywood;
}

.content_footer {
    height: 50px;
}

.content_footer, .content_main {
    background-color: transparent;
}

.font_size_nav {
    font-size: 12px;
}