* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --charcoal: #2C3E50;
    --mint-green: #1ABC9C;
    --midnight-haze: #3A546D;
}

.bg-charcoal {
    background-color: var(--charcoal);
}

.bg-mint-green {
    background-color: var(--mint-green);
}

.bg-midnight-haze {
    background-color: var(--midnight-haze);
}

.content {
    border: 1px solid purple;
    height: 200px;
    background-color: burlywood;
}

.content_header {
    background-color: firebrick;
}

.content_footer, .content_header {
    height: 50px;
}

.content_footer, .content_main {
    background-color: transparent;
}

header span {
    width: 50px;
    height: 20px;
    background-color: #fff;
}